<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Categorie</title>

  <link rel="stylesheet" href="../css/categprie.css">

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="../icon.png">
</head>
<body>
<div class="headerPart">
  <div class="headerPart1">
    <div onclick="window.location.href='../index.html'">
      <img src="../img/votMe_Brand_Guideline-07.png" alt="VotMe Logo" height="60px" style="cursor: pointer; ">
    </div>
    <div class="headerPartRight">
      <div>
        <p class="topLabel">Cart</p>
        <p class="bottomLabel">Xaf 1000</p>
      </div>
      <div>
        <p class="topLabel">User</p>
        <p class="bottomLabel">Manfred</p>
      </div>

    </div>

  </div>
  <div class="headerPart2">
    <div class="headerPart21">
      <p onclick="window.location.href='categorie.html'"  >All Categories</p>
      <p  onclick="window.location.href='product.html'" >Product</p>
      <p  onclick="window.location.href='promotion.html'"  >Promotion </p>
    </div>
    <div class="headerPart21">
      <p onclick="window.location.href='../index.html'" >Home</p>
      <p onclick="window.location.href='contact.html'">Contact </p>
      <p onclick="window.location.href='about.html'" >About us </p>
    </div>
  </div>
</div>
<div class="bodyPart">
  <h1>Categorie</h1>
</div>
</body>
</html>
